/*
* StyleGuide specific css
*/

@font-face {
  font-family: 'Akkurat';
  src: url('./assets/fonts/Akkurat.ttf') format('truetype');
}

@font-face {
  font-family: 'Akkurat Mono';
  src: url('./assets/fonts/Akkurat-Mono.ttf') format('truetype');
}

html,
body {
  font: '"Akkurat", sans-serif' !important;
  background: #1d2936;
}

footer {
  display: none !important;
}
